<html lang="en">
  <head>
    <title>Document</title>
    {% include 'boostrap.html'%}
  </head>
  <body>
    {%include 'nav.html'%} <br />
    {%include 'banner.html'%}
    <div class="container">
      <h1 class="text-center mt-8 pt-0 mb-3">EmpowerCo career</h1>
      <p>
        Your application for the post of <b>{{ job.get('title')}}</b> at
        EmpowerCo career has been submitted successfully
      </p>
      <b>Full name</b>
      <div class="mb-2">{{data.get('full_name')}}</div>
      <b>Email</b>
      <div class="mb-2">{{data.get('email')}}</div>
      <b>Linkeddin url</b>
      <div class="mb-2">{{data.get('linkedin_url')}}</div>
      <b>Education</b>
      <div class="mb-2">{{data.get('education')}}</div>
      <b>Work Experience</b>
      <div class="mb-2">{{data.get('full_name')}}</div>
      <b>Resume url</b>
      <div class="mb-2">{{data.get('resume_url')}}</div>
    </div>
    {%include 'footer.html'%}
  </body>
</html>
