<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">sir_dam career</h1>
      <img src="/static/apply.jpg" class="img-fluid" id="banner" alt="" />
      <h2 class="text-center mt-2 mb-4">About sir_dam</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus est
        saepe id alias vero quae animi cum repellat quos, aut quidem nisi magni
        vitae maiores. Vitae ab tempore laudantium pariatur dolores commodi. Sit
        architecto natus omnise quis tempora, reprehenderit odit facilis, saepe
        repellendus iusto! Nisi soluta maxime incidunt, reprehenderit eaque
        totam distinctio quaerat reiciendis, eveniet quas doloremque quo cumque
        ea! Praesentium, id sed laudantium magni libero fugiat ab vitae!
      </p>
      <h2 class="text-center mt-2 mb-4">Open positions</h2>
      <p>TODO - data anylyst</p>
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">Contact us</button>
        <p mt-2 mb-4>copyright 2023</p>
      </div>
    </div>
  </body>
</html>
