<div class="h4 pb-2 mb-4 border-bottom border-success">
  <div class="row">
    <div class="col-10">
      <div>
        <h3>{{ job.get('title')}}</h3>
      </div>
      <div>
        <b>Location:</b>
        {{ job.get('location')}}
      </div>

      {% if 'salary' in job%}
      <div>
        <b>Salary:</b>
        {{ job.get('salary')}}
      </div>
      {%endif%} <br />
    </div>

    <div class="d-grid gap-2 d-md-block col-2">
      <button class="btn btn-primary" type="button">Apply</button>
    </div>
  </div>
</div>
