<ul
  class="nav justify-content-end shadow-sm p-3 mb-5 bg-body-tertiary rounded fixed-top"
>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign up</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="https://employers.indeed.com/p/employer-setup/account-details"
      >Post jobs</a
    >
  </li>
</ul>
<style>
  ul {
    height: 57px;
  }
</style>
